@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased font-sans bg-gray-50 text-gray-900 dark:bg-slate-900 dark:text-gray-100;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/80 dark:bg-slate-900/80 backdrop-blur-md border border-white/20 dark:border-slate-800/50 shadow-sm;
  }
}
